<!DOCTYPE html>
<html>
<head>
  <title><%= detail.name %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <h1><%= detail.name %></h1>

  <div class="detail-list">
      <div>
        <%= detail.name %>
        <%= detail.email %>
        <%= detail.phone %>
        <%= detail.street %>
        <%= detail.city %>
        <%= detail.state %>
        <%= detail.country %>
        <%= detail.zip %>
        <%= detail.birthday %>
        <%= detail.website %>
      </div>
  </div>

</body>
</html>
